PORT=8000
MONGO_LOCAL_URI=mongodb://localhost:27017/pioneer-tech
MONGO_REMOTE_URI=mongodb+srv://test:test@backup.vuntjiu.mongodb.net/?retryWrites=true&w=majority

JWT_SECRET=asdfadf
JWT_EXPIRE=15000

SECRET=asdf

TWILIO_SID=
TWILIO_AUTH_TOKEN=

TEACHER_URL=asdf
ADMIN_URL=aaaaaa
BACKEND_URL=http://localhost:8000
STUDENT_URL=asdf

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

YOUTUBE_API_KEY=
VIMEO_CLIENT_ID=
VIMEO_CLIENT_SECRET=
VIMEO_ACCESS_TOKEN=
